<a href="https://colab.research.google.com/github/Calm-leon/proyecto-an-lisis-de-datos/blob/main/An%C3%A1lisis_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Foundations of Data Science Project - Diabetes Analysis

---------------
## Contexto
---------------

Dentro del mundo Pokémon, muy reconocido a nivel mundial,  

-----------------
## Objective
-----------------

Analizaremos las habilidades con las que debe contar un Pokémon para que sea considerado legendario. 

-------------------------
## Data Dictionary
-------------------------

El conjunto de datos tiene la siguiente información: 

* Número Pokedex: Identificador en la guía enciclopédica Pokédex.
* Nombre: Nombre de la especie del Pokémon según su evolución.
* Ataque: 
* Defensa: 
* Altura: Altura de la especie del Pokémon según su evolución (m).
* Caballos de fuerza: Potencia de la especie del Pokémon según su evolución (hp)
* Porcentaje masculino: Porcentaje de masculinidad de cada Pokémon según la especie.
* Velocidad de ataque: Velocidad de cada uno de los ataques de acuerdo a la evolución de cada Pokémon. 
* Velocidad de defensa: 
* Velocidad: Velocidad con la que se desplaza la especie del Pokémon. 
* Tipo: Tipo de Pokémon. 
* Peso: Peso del Pokémon (kg). 
* Generación: 
* Es Legendario: ¿Es legendario? (bit,0:no y 1:si)

## P 1: Importación de bibliotecas a usar.

In [ ]:
import numpy as np # NumPy crea arreglos de grandes dimensiones y contiene un gran número de funciones matemátematicas de alto nivel para trabajar con ellos. 
import pandas as pd # Pandas nos facilita la manipulación, tratamiento y análisis de los datos.
import seaborn as sns # Seabron (desarrollada sobre matplotlib) nos ofrese la visualización de los datos; con creación de trazado estadiaticos.
import matplotlib.pyplot as plt # Matplotlib libreria espacialisada en trazado para graficos en dos dimenciones.
import scipy.stats as stats # Scipy contiene una gran cantidad de distribuciones estadisticas y mas especifico .stats se utiliza para analizar la distribución normal.
%matplotlib inline

#### Write your Answer here:

## Respuesta 1:

- **NumPy** es una librería esencial para el análisis de datos y el cálculo científico. Hace arreglos manipulables de grandes dimensiones y contiene un gran número de funciones matemátematicas de alto nivel.
Suele importarse con el alias np de la siguiente forma: `import numpy as np`. 

- **Pandas** es la librería más utilizada para el análisis, tratamiento (leer y escribir datos en diferentes formatos) y manipulación de datos, sus estructuras básicas son marcos de datos y series. Se basa en NumPy y generalmente se importa con el alias pd como `import pandas as pd`.

- **Seaborn** es una librería que funciona como una interfaz para Matplotlib y está integrada con pandas. Se utiliza para la visualización de datos con la creación de trazados estadiaticos. Se importa normalmente con el alias sns de la siguiente forma: `import seaborn as sns`. 

- **Matplotlib** es una librería para crear diagramas matemáticos, estadísticos y científicos. La colección matplotlib.pyplot emula la forma de hacer las cosas de Matlab. Se importa con el alias plt como `import matplotlib.pyplot as plt` y el comando `%matplotlib inline` muestra los gráficos dentro del cuaderno Jupyter.

## P 2: Leer el conjunto de datos dado.

In [ ]:
#la variable pokedex es una estructura tipo DataFrame creada con el archivo de datos separados por comas pokedex.csv
pokedex = pd.read_csv("https://raw.githubusercontent.com/MuhammadBilalTahir/What-makes-a-Pokemon-Legendary/main/pokedex.csv")

## P 3. Muestra los últimos 10 registros del conjunto de datos. ¿Cuántas columnas hay?

In [ ]:
#el método tail(n) muestra las últimas n filas de un conjunto de datos
pokedex.tail(10)

,pokedex_number,name,attack,defense,height_m,hp,percentage_male,sp_attack,sp_defense,speed,type,weight_kg,generation,is_legendary
791,792,Lunala,113,89,4.0,137,NaN,137,107,97,psychic,120.0,7,1
792,793,Nihilego,53,47,1.2,109,NaN,127,131,103,rock,55.5,7,1
793,794,Buzzwole,139,139,2.4,107,NaN,53,53,79,bug,333.6,7,1
794,795,Pheromosa,137,37,1.8,71,NaN,137,37,151,bug,25.0,7,1
795,796,Xurkitree,89,71,3.8,83,NaN,173,71,83,electric,100.0,7,1
796,797,Celesteela,101,103,9.2,97,NaN,107,101,61,steel,999.9,7,1
797,798,Kartana,181,131,0.3,59,NaN,59,31,109,grass,0.1,7,1
798,799,Guzzlord,101,53,5.5,223,NaN,97,53,43,dark,888.0,7,1
799,800,Necrozma,107,101,2.4,97,NaN,127,89,79,psychic,230.0,7,1
800,801,Magearna,95,115,1.0,80,NaN,130,115,65,steel,80.5,7,1

## Respuesta 3:

Aunque se imprimen 10 columnas, la primera columna corresponde a los índices de las filas. Por lo tanto, en realidad hay 9 columnas que corresponden a 9 atributos y una columna de índice.

In [ ]:
# el método info() cuenta las columnas (atributos) en el conjunto de datos
pokedex.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pokedex_number   801 non-null    int64
 1   name             801 non-null    object
 2   attack           801 non-null    int64
 3   defense          801 non-null    int64
 4   height_m         781 non-null    float64
 5   hp               801 non-null    int64
 6   percentage_male  703 non-null    float64
 7   sp_attack        801 non-null    int64
 8   sp_defense       801 non-null    int64
 9   speed            801 non-null    int64
 10  type             801 non-null    object
 11  weight_kg        781 non-null    float64
 12  generation       801 non-null    int64
 13  is_legendary     801 non-null    int64
dtypes: float64(3), int64(9), object(2)
memory usage: 87.7+ KB

## P4. Mostrar los primeros 10 registros del conjunto de datos.

In [ ]:
#el método head(n) muestra las primeras n filas de un conjunto de datos.
pokedex.head(10)

,pokedex_number,name,attack,defense,height_m,hp,percentage_male,sp_attack,sp_defense,speed,type,weight_kg,generation,is_legendary
0,1,Bulbasaur,49,49,0.7,45,88.1,65,65,45,grass,6.9,1,0
1,2,Ivysaur,62,63,1.0,60,88.1,80,80,60,grass,13.0,1,0
2,3,Venusaur,100,123,2.0,80,88.1,122,120,80,grass,100.0,1,0
3,4,Charmander,52,43,0.6,39,88.1,60,50,65,fire,8.5,1,0
4,5,Charmeleon,64,58,1.1,58,88.1,80,65,80,fire,19.0,1,0
5,6,Charizard,104,78,1.7,78,88.1,159,115,100,fire,90.5,1,0
6,7,Squirtle,48,65,0.5,44,88.1,50,64,43,water,9.0,1,0
7,8,Wartortle,63,80,1.0,59,88.1,65,80,58,water,22.5,1,0
8,9,Blastoise,103,120,1.6,79,88.1,135,115,78,water,85.5,1,0
9,10,Caterpie,30,35,0.3,45,50.0,20,20,45,bug,2.9,1,0

## P5. ¿Qué entiendes por la dimensión del conjunto de datos? Encuentre la dimensión del marco de datos `pokedex`.

In [ ]:
#El atributo ndim del conjunto de datos devuelve su dimensión.
pokedex.ndim

2

## Respuesta 5:

La dimensión de una estructura de datos es el número de índices necesarios para acceder a un elemento de la estructura. El resultado pokedex.ndim=2 dice que un conjunto de datos (pokedex en este caso) se comporta como una matriz bidimensional. La estructura en serie es un ejemplo de una matriz unidimensional (un vector).

## P6. ¿Qué entiendes por el tamaño del conjunto de datos? Encuentre el tamaño del conjunto de datos `pokedex`.

In [ ]:
#El atributo size retorna el numero total del filas multiplicado por las columnas.
pokedex.size

11214

## Ans 6: 

El atributo de tamaño devuelve el número total de filas x columnas. Debido a que pokedex es una estructura bidimensional, tiene una forma rectangular plana con alto y ancho. Es decir, filas y columnas. Para acceder al número de filas y columnas, se utiliza en su lugar el atributo `shape`.

In [ ]:
pokedex.shape

(801, 14)

## P7. ¿Cuáles son los tipos de datos de todas las variables en el conjunto de datos?
**Sugerencia: Utilice la función info() para obtener toda la información sobre el conjunto de datos.**

In [ ]:
#El metodo info retorna la informacion del conjunto de datos.
pokedex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pokedex_number   801 non-null    int64
 1   name             801 non-null    object
 2   attack           801 non-null    int64
 3   defense          801 non-null    int64
 4   height_m         781 non-null    float64
 5   hp               801 non-null    int64
 6   percentage_male  703 non-null    float64
 7   sp_attack        801 non-null    int64
 8   sp_defense       801 non-null    int64
 9   speed            801 non-null    int64
 10  type             801 non-null    object
 11  weight_kg        781 non-null    float64
 12  generation       801 non-null    int64
 13  is_legendary     801 non-null    int64
dtypes: float64(3), int64(9), object(2)
memory usage: 87.7+ KB

## Respuesta 7: 

Los siguientes atributos se almacenan como números enteros (int64):
- Número Pokedex
- Ataque
- Defensa
- Caballos de fuerza
- Velocidad de ataque
- Velocidad de defensa 
- Velocidad
- Generación 
-Es legendario

Sin embargo, la variable *Es legendario* debe interpretarse y analizarse como un atributo cualitativo asimétrico: 1 si el Pokémon es legendario, 0 si no lo es.

Por otro lado, *Altura*, *PorcentajeMasculino* y *Peso* se almacenan como números de coma flotante (float64) y se interpretan como variables aleatorias continuas.

Adicionalmente, *Nombre* y *Tipo* se almacenan como datos de tipo cadena (object).

## Q8. ¿Qué entendemos por valores perdidos? ¿Hay valores faltantes en el conjunto de datos `pokedex`?

In [15]:
#el método isnull() prueba si cada elemento del conjunto de datos es un valor faltante.
#el atributo de valores devuelve la representación de matriz numpy del conjunto de datos pokedex
#el método any() prueba si alguno de los elementos de una matriz es Verdadero, si no, devuelve Falso
pokedex.isnull().values.any()

True

## Respuesta 8:

Los valores faltantes son datos faltantes debido a la falta de respuesta o recopilación de información. Si falta un valor, se almacena como "no es un número (Numpy)" `np.nan` en el conjunto de datos. El método `isnull()` prueba si cada elemento del conjunto de datos es un valor faltante y almacena True o False en cada celda del marco de datos. El atributo `valores` devuelve la versión de matriz numpy del marco de datos pima. Finalmente, el método `any ()` prueba si alguno de los elementos de la matriz numpy es verdadero. Si este es el caso, devuelve True, de lo contrario, devuelve False.

Por lo tanto, no hay ningún valor perdido.

## Q9. ¿Qué representan las estadísticas de resumen de los datos? Encuentre las estadísticas de resumen para todas las variables excepto 'Es legendario' en los datos de pokedex. Tome una columna/variable de la tabla de salida y explique todas sus medidas estadísticas.

In [17]:
pokedex.iloc[:,0:13].describe()

,pokedex_number,attack,defense,height_m,hp,percentage_male,sp_attack,sp_defense,speed,weight_kg,generation
count,801.000000,801.000000,801.000000,781.000000,801.000000,703.000000,801.000000,801.000000,801.000000,781.000000,801.000000
mean,401.000000,77.857678,73.008739,1.163892,68.958801,55.155761,71.305868,70.911361,66.334582,61.378105,3.690387
std,231.373075,32.158820,30.769159,1.080326,26.576015,20.261623,32.353826,27.942501,28.907662,109.354766,1.930420
min,1.000000,5.000000,5.000000,0.100000,1.000000,0.000000,10.000000,20.000000,5.000000,0.100000,1.000000
25%,201.000000,55.000000,50.000000,0.600000,50.000000,50.000000,45.000000,50.000000,45.000000,9.000000,2.000000
50%,401.000000,75.000000,70.000000,1.000000,65.000000,50.000000,65.000000,66.000000,65.000000,27.300000,4.000000
75%,601.000000,100.000000,90.000000,1.500000,80.000000,50.000000,91.000000,90.000000,85.000000,64.800000,5.000000
max,801.000000,185.000000,230.000000,14.500000,255.000000,100.000000,194.000000,230.000000,180.000000,999.900000,7.000000

## Respuesta 9:

Las estadísticas de resumen de los datos proporcionados por `describe()` devuelve las estadísticas descriptivas básicas (las filas) de cada variable (las columnas).

- La estadística de conteo es el número de filas (puntos, objetos de datos, observación o tamaño de muestra) del conjunto de datos.
- La media y la mediana (la fila etiquetada como 50%) son medidas de tendencia central. La media es como el centro de masa de la variable y es sensible a los valores extremos. La mediana separa los datos en dos mitades y es menos sensible a los valores extremos.
- Los cuartiles 1 y 3 ($Q_1$ y $Q_3$, 25 % y 75 % de filas etiquetadas, respectivamente) son medidas de ubicación. Por ejemplo, el 25 % de los datos está por debajo del primer cuartil.
- El max y el min son el máximo y el mínimo de la variable. El mínimo, este primer cuartil $Q_1$, la mediana o $Q_2$, el tercer cuartil $Q_3$ y el máximo (es decir, filas etiquetadas min, 25%, 50%, 75% y max) también se denomina "el cinco estadísticas resumidas".
- La desviación estándar de la muestra, std, es una estadística imparcial de la desviación estándar de la población. Es una medida de dispersión de los datos. Una desviación estándar de cero significaría que el atributo no varía (toma el mismo valor todo el tiempo). Es decir, es constante. Una desviación estándar grande significaría que la variable tiene mucha desviación de la media.

Por ejemplo, expliquemos la columna **Glucosa** en el resultado a continuación.

- Hay $N=768$ entradas en esta variable, que corresponde al tamaño de la muestra.
- La media de la Glucosa de los pacientes es $\bar{x}=$121.67mg/dL. En otras palabras, en promedio cada paciente tiene una concentración de Glucosa en sangre de 121,67 mg/dL.
- La desviación estándar $s=30.44$mg/dL. Esto significa que aproximadamente dos tercios de los pacientes tienen concentraciones de azúcar en sangre en el rango de 121,67$\pm$30,44mg/dL.
- El paciente con menor nivel de concentración de azúcar en sangre registró 44mg/dL y el paciente con mayor nivel de concentración de azúcar en sangre fue de 140,25mg/dL.
- Una cuarta parte de los pacientes tienen menos de $Q_1=$99,75 mg/dL de concentración de azúcar en la sangre. La mitad de los pacientes tiene menos de $Q_2=$72mg/dL de concentración de azúcar en sangre (de la misma manera, la otra mitad tiene más de $Q_2=$72mg/dL). Finalmente, las tres cuartas partes de los pacientes tienen más de $Q_2=$80 mg/dL de concentración de azúcar en la sangre.